body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.Menu, 
.Contact {
    background: rgb(255, 255, 255);
    color: rgb(0,0,0);
}

.Testimonials,
.Information,
.Footer {
    background: rgb(0, 0, 0);
    color: rgb(255,255,255);
}

.Landing {
    height: 90vh;
    background-image: url(images/table-food.png);
    background-size: cover;
    overflow: auto;
}

.Landing .Sign {
    width: 70%;
    margin: 0 auto;
    margin-top: 5em;
    background-color: rgb(0,0,0,.75);
    color: #fff;
    padding: 1em;
    position: relative;
}

.Landing h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.Landing p {
    font-family: "Alex Brush", cursive;
    font-size: 3em;
}

.Testimonials div {
    width: 30%;
    display: inline-block;
}

.Testimonials img {
    border-radius: 50%;
    width: 40%; 
    margin: 2em 0;
}

.Testimonials .name {
    font-weight: bold;
}

.Testimonials .review {
    font-style: italic;
}

.Menu {
    text-transform: uppercase;
}

.Menu ol {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
}

.Information > div {
    width: 30%;
    display: inline-block;
    padding: 2em;
}

.Contact {
    padding: 2em;
    text-align: center;
}

.Contact h3 {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 10px;
}

.Contact form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: left;
}

.Contact label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.Contact input,
.Contact textarea {
    border: 3px solid #000;
    margin-top: .5em;
    border-radius: 10px;
}

.Contact input {
    padding: 6px;
}

.Contact textarea {
    height: 100px;
    padding: 10px 3px;
}

.Footer {
    padding: 1em;
    font-size: 2em;
    text-transform: uppercase;
}